//@import 'variables';

@mixin button-black {
    border: none;
    color: $button-text;
    background-color: $clr-btn-black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
   }

 
  @mixin button-gray {
    border: none;
    color: $button-text;
    background-color: $clr-btn-light-gray;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
   }